body {
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Museo Sans Cyrl", 'Montserrat';
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333333;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.second__header {
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
  color: #333333;
  width: 100%;
  margin-bottom: 40px;
  position: relative;
}

.color__wrapper {
  background: var(--background-color);
}

.second__header::after {
  position: absolute;
  content: '';
  width: 254px;
  height: 50px;
  background: rgba(98, 72, 255, 0.1);
  left: 0;
  bottom: 0;
}

.correct__input {
  border: 1px solid #0EAC00;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 3px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #828282;
  margin-bottom: 24px;
}

.wrong__input {
  border: 1px solid #EB5757;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 3px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #828282;
  margin-bottom: 8px;
}

.error-invisible {
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: #EB5757;
  display: none;
  text-align: left;
}

.error-visible {
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: #EB5757;
  text-align: left;
  align-self: left;
}

.logotype__text {
  text-transform: uppercase;
  font-size: 16px;
  color: var(--dark--text-menu-color);
  font-weight: 700;
  font-family: "Museo Sans Cyrl";
  font-size: 15px;
  line-height: 16px;
  display: block;
}

.logotype {
  display: block;
  margin-right: 57px;
}

@media screen and (min-width: 768px) {
  .second__header {
    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 66px;
    color: #333333;
    width: 483px;
    margin-bottom: 56px;
    position: relative;
  }
  .logotype__text {
    display: none;
  }
  .second__header::after {
    position: absolute;
    content: '';
    width: 350px;
    height: 37px;
    background: rgba(98, 72, 255, 0.1);
    left: 0;
    bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .second__header {
    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 66px;
    color: #333333;
    width: 483px;
    margin-bottom: 68px;
    position: relative;
  }
  .logotype__text {
    display: block;
  }
  .second__header::after {
    position: absolute;
    content: '';
    width: 296px;
    height: 72px;
    background: rgba(98, 72, 255, 0.1);
    left: 0;
    bottom: 0;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 688px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1200px;
  }
}

.navigation__list {
  display: flex;
}

.navigation {
  display: none;
}

.navigation__link {
  font-size: 15px;
  color: #333333;
  font-weight: 500;
  font-family: "Museo Sans Cyrl";
  font-size: 15px;
  line-height: 16px;
}

.header__container-select {
  display: none;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__wrapper {
  display: flex;
  align-items: center;
}

.navigation__item {
  margin-right: 32px;
}

.header .choices__inner {
  width: 100%;
  min-height: 25px;
  border: 1px solid #000000;
  border-radius: 60px;
  background: #FFFFFF;
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: #333333;
}

.navigation__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .choices__list--dropdown {
  width: 125%;
}

.header .choices__list {
  width: 125%;
}

.header .choices[data-type*=select-one]::after {
  right: 0;
}

.header .choices__list--dropdown {
  word-break: normal;
}

.header .choices__list--dropdown .choices__list {
  overflow: hidden;
}

.header .choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: var(--main-color);
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  header {
    margin-right: 0px;
  }
  .logotype__text {
    display: none;
  }
  .navigation {
    display: none;
  }
  .header__container-select {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .header__wrapper {
    margin-right: -60px;
  }
  .logotype__text {
    display: block;
  }
  .header__container-select {
    margin-right: 44px;
  }
  .navigation {
    display: block;
  }
  .header__container-select {
    display: block;
  }
}

.hero__title {
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
  color: var(--dark--text-menu-color);
  margin-bottom: 24px;
  word-wrap: normal;
}

.hero__text-wrapper {
  margin-bottom: 32px;
}

.hero__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #4F4F4F;
  margin-top: 40px;
}

.hero__chart {
  background-image: url("../images/chartmobile.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 280px;
  height: 301px;
}

.hero__section {
  padding-top: 32px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .hero__chart {
    background-image: url("../images/chartTablet.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 418px;
    height: 450px;
    margin: 0 auto;
  }
  .hero__title {
    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 72px;
    color: var(--dark--text-menu-color);
    margin-bottom: 32px;
    word-wrap: normal;
  }
  .hero__section {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 24px;
  }
  .hero__text {
    padding-right: 90px;
    padding-left: 90px;
  }
}

@media screen and (min-width: 1440px) {
  .hero__chart {
    background-image: url("../images/chart.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 482px;
    height: 519px;
    margin: 0;
  }
  .hero__text-wrapper {
    width: 49%;
  }
  .hero__section {
    padding-top: 100px;
    padding-bottom: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .hero__section {
    flex-direction: row;
    text-align: left;
  }
  .hero__title {
    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 72px;
    color: #333333;
    margin-bottom: 32px;
    word-wrap: normal;
  }
  .hero__text {
    padding-right: 0;
    padding-left: 0;
    max-width: 483px;
  }
  .hero__text-wrapper {
    margin-bottom: 0;
  }
}

.planing__section {
  padding-top: 80px;
}

.planing__list-item {
  display: inline-block;
  background: #ffffff;
  border: 2px solid #6248ff;
  border-radius: 30px;
  padding: 24px 24px;
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28.8px;
  margin-bottom: 24px;
}

.planing__list-item:last-child {
  margin-bottom: 0px;
}

.planing__list-numbering {
  display: block;
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: var(--main-color);
  margin-bottom: 8px;
}

.planing__list-item-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #4f4f4f;
  width: 232px;
  margin-top: 24px;
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .planing__section {
    padding-top: 120px;
  }
  .planing__list {
    margin-bottom: -178px;
  }
  .planing__list-item-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #4f4f4f;
    width: 265px;
    margin-top: 24px;
  }
  .planing__list-item {
    display: inline-block;
    background: #ffffff;
    border: 2px solid #6248ff;
    border-radius: 30px;
    padding: 24px 24px;
    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28.8px;
    margin-bottom: 0px;
    position: relative;
  }
  .planing__list-item:nth-child(1) {
    margin-right: 193px;
  }
  .planing__list-item:nth-child(2) {
    margin-left: 329px;
    position: relative;
    bottom: 57px;
  }
  .planing__list-item:nth-child(3) {
    margin-right: 329px;
    position: relative;
    bottom: 114px;
  }
  .planing__list-item:nth-child(4) {
    margin-left: 329px;
    position: relative;
    bottom: 178px;
  }
  .planing__list-item:nth-child(4)::before {
    display: none;
  }
  .planing__list-item:nth-child(2n)::before {
    content: "";
    width: 193px;
    height: 59px;
    background-image: url("../images/linetablerright.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 20%;
    right: 100%;
  }
  .planing__list-item:nth-child(2n+1)::after {
    content: "";
    width: 193px;
    height: 59px;
    background-image: url("../images/linetabletLeft.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 25%;
    left: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .planing__section {
    padding-top: 140px;
  }
  .planing__list-item-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #4f4f4f;
    width: 417px;
    margin-top: 24px;
    margin-bottom: 0px;
  }
  .planing__list-item {
    display: inline-block;
    background: #ffffff;
    border: 2px solid #6248ff;
    border-radius: 30px;
    padding: 32px 32px;
    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28.8px;
    margin-bottom: 0px;
    position: relative;
  }
  .planing__list-item:nth-child(1) {
    margin-right: 374px;
  }
  .planing__list-item:nth-child(2) {
    margin-left: 615px;
    position: relative;
    bottom: 50px;
  }
  .planing__list-item:nth-child(3) {
    margin-right: 615px;
    position: relative;
    bottom: 95px;
  }
  .planing__list-item:nth-child(4) {
    margin-left: 615px;
    position: relative;
    bottom: 155px;
  }
  .planing__list-item:nth-child(4)::before {
    display: none;
  }
  .planing__list-item:nth-child(2n)::before {
    content: "";
    width: 374px;
    height: 70px;
    background-image: url("../images/lineDesktopright.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 20%;
    right: 100%;
  }
  .planing__list-item:nth-child(2n+1)::after {
    content: "";
    width: 374px;
    height: 70px;
    background-image: url("../images/lineDesktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 25%;
    left: 100%;
  }
  .planing__list {
    margin-bottom: -178px;
  }
}

.feedback__section {
  padding-top: 80px;
}

.feedback__profile-name {
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: var(--dark--text-menu-color);
  text-align: left;
  margin-top: 8px;
}

.feedback__profile-img-job {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #4f4f4f;
}

.feedback__profile-img {
  margin-right: 30px;
  width: 73px;
  height: 73px;
  background-image: url("../images/director.png");
  background-position: center;
  background-repeat: no-repeat;
}

.feedback__profile-text {
  margin-top: 25px;
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: var(--dark--text-menu-color);
  width: 100%;
  text-align: center;
}

.feedback__counter {
  margin-top: 31px;
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: var(--main-color);
  text-align: center;
}

.feedback__profile-text-wrapper {
  display: none;
}

.feedback__profile-wrapper {
  display: flex;
}

.feedback__profile-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__profile-text-quote-tablet {
  display: block;
  width: 35px;
  height: 29px;
  display: block;
  background-image: url("../images/quote.svg");
  background-repeat: no-repeat;
  margin-top: 24px;
}

.feedback__profile-text-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback__wrapper {
  position: relative;
}

.swiper-prev {
  width: 48px;
  height: 48px;
  color: #150c01;
  background: #ffffff;
  border: 1px solid #6248ff;
  border-radius: 50%;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  z-index: 5;
}

.swiper-prev-arrow {
  width: 12px;
  height: 12px;
  background-image: url("../images/arrowPrev.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-disabled {
  width: 48px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-next {
  width: 48px;
  height: 48px;
  color: #150c01;
  background: #ffffff;
  border: 1px solid #6248ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
}

.swiper-next:disabled {
  width: 48px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-next-arrow {
  width: 12px;
  height: 12px;
  background-image: url("../images/arrowNext.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .feedback__section {
    padding-top: 120px;
  }
  .swiper-next {
    position: absolute;
    top: 65%;
    right: 0;
  }
  .swiper-prev {
    position: absolute;
    top: 65%;
  }
  .feedback__profile-data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feedback__profile-text-quote-tablet {
    display: block;
    width: 35px;
    height: 29px;
    display: block;
    background-image: url("../images/quote.svg");
    background-repeat: no-repeat;
    margin-top: 16px;
  }
  .feedback__profile-name {
    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: var(--dark--text-menu-color);
    text-align: center;
    margin-top: 10px;
  }
  .feedback__profile-text-wrapper {
    display: none;
  }
  .feedback__profile-text-main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .feedback__profile-text {
    width: 508px;
    text-align: center;
  }
  .feedback__profile-text-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .swiper__container {
    position: relative;
  }
}

@media screen and (min-width: 1440px) {
  .feedback__section {
    padding-top: 140px;
  }
  .feedback__wrapper {
    display: flex;
  }
  .feedback__profile-text-quote {
    width: 35px;
    height: 29px;
    display: block;
    background-image: url("../images/quote.svg");
    background-repeat: no-repeat;
  }
  .feedback__profile-data {
    display: flex;
  }
  .feedback__profile-text-quote-tablet {
    display: block;
  }
  .swiper__container {
    width: 49%;
  }
  .feedback__profile-name {
    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    color: var(--dark--text-menu-color);
    text-align: left;
    margin-top: 10px;
  }
  .feedback__profile-text-wrapper {
    padding-top: 152px;
    display: block;
  }
  .feedback__profile-text-main {
    display: none;
  }
  .feedback__profile-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .feedback__wrapper-buttons {
    display: flex;
  }
  .feedback_wrapper-title {
    margin-right: 80px;
  }
  .swiper-next {
    position: static;
  }
  .swiper-prev {
    position: static;
  }
}

.questions__section {
  padding-top: 80px;
}

.questions__list-item {
  background: #FFFFFF;
  border: 2px solid #4F62F6;
  border-radius: 15px;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 37px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #333333;
}

.questions__list-item-response {
  display: none;
}

.questions__list-item-response-visible {
  background: #FFFFFF;
  border: 2px solid #4F62F6;
  border-radius: 15px;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 37px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  display: block;
}

.questions__list-item:last-child {
  margin-bottom: 0;
}

.questions__list-item-response-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #333333;
}

.questions__list-item-response-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #4F4F4F;
  text-align: left;
}

.questions__list-buttons {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border: none;
}

.questions__list-buttons-icon {
  width: 18px;
  height: 18px;
  background-image: url("../images/plus.svg");
  background-position: center;
  background-repeat: repeat;
}

.questions__list-item-response-button-icon {
  width: 18px;
  height: 18px;
  background-image: url("../images/close.svg");
  background-position: center;
  background-repeat: repeat;
}

.questions__list-item-response-button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border: none;
}

@media screen and (min-width: 768px) {
  .questions__section {
    padding-top: 80px;
  }
  .questions__list-item {
    font-size: 24px;
  }
  .questions__list-item-response-title {
    font-size: 24px;
  }
  .questions__list-item {
    padding-bottom: 34px;
    padding-top: 34px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
  }
  .questions__list-item-response-text {
    width: 558px;
  }
  .questions__list-item-response-visible {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .questions__section {
    padding-top: 140px;
  }
  .questions__list-item {
    padding-bottom: 34px;
    padding-top: 34px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
  }
  .questions__list-item-response-text {
    width: 750px;
  }
  .questions__list-item-response-visible {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 40px;
  }
  .questions__list {
    padding-right: 102px;
    padding-left: 102px;
  }
}

input {
  text-indent: 16px;
}

textarea {
  text-indent: 16px;
}

.contact__section-info .contact__header {
  margin-bottom: 32px;
}

textarea {
  resize: none;
}

.contact__section {
  padding-top: 80px;
}

.contact__section-content {
  padding-top: 48px;
  padding-bottom: 48px;
}

.contact__header {
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
  color: var(--dark--text-menu-color);
  width: 100%;
  margin-bottom: 40px;
  position: relative;
}

.contact__section-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #4f4f4f;
  margin-bottom: 24px;
}

.contact__section-text-possesion {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #4f4f4f;
  margin-bottom: 17px;
}

.contact__section-title {
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: var(--dark--text-menu-color);
  margin-bottom: 8px;
}

.contact__section-data {
  display: block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 16px;
  color: #4f4f4f;
}

.contact__form {
  padding: 48px 16px;
  background: #ffffff;
  border: 2px solid #6248ff;
  border-radius: 20px;
}

.contact__form-fields {
  max-width: 248px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact__form-input {
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #828282;
  margin-bottom: 24px;
}

.contact__form-input:focus {
  outline: none;
  border: 1px solid #828282;
  border-radius: 3px;
}

.contact__form-input:last-child {
  margin-bottom: 0;
}

.contact__section-info {
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .contact__section {
    padding-top: 80px;
  }
  .contact__section-content {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .contact__header {
    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 66px;
    color: var(--dark--text-menu-color);
    width: 483px;
    margin-bottom: 56px;
  }
  .contact__section-text {
    margin-bottom: 32px;
  }
  .contact__section-text-possesion {
    margin-bottom: 24px;
  }
  .contact__section-content {
    display: flex;
    flex-direction: column;
  }
  .contact__form-fields {
    max-width: 425px;
  }
  .contact__form {
    padding: 80px 42px;
  }
  .contact__section-info {
    margin-bottom: 48px;
  }
  .contact__section-info {
    max-width: 508px;
  }
  .contact__section-content {
    padding-right: 90px;
    padding-left: 90px;
  }
}

@media screen and (min-width: 1440px) {
  .contact__section {
    padding-top: 140px;
  }
  .contact__section-content {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .contact__header {
    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 66px;
    color: #333333;
    width: 483px;
    margin-bottom: 68px;
  }
  .contact__section-text {
    margin-bottom: 48px;
  }
  .contact__section-text-possesion {
    margin-bottom: 24px;
  }
  .contact__section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .contact__form-fields {
    width: 421px;
  }
  .contact__form {
    padding: 80px 80px;
  }
  .contact__section-info {
    max-width: 483px;
  }
  .contact__section-content {
    padding-right: 0;
    padding-left: 0;
  }
  .contact__section-info {
    margin-bottom: 0;
  }
}

.footer {
  padding-top: 46px;
  padding-bottom: 32px;
}

.footer__logotype-text {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--dark--text-menu-color);
  font-weight: 700;
  font-family: "Museo Sans Cyrl";
  font-size: 15px;
  line-height: 16px;
  display: block;
}

.footer-info:last-child {
  margin-bottom: 0;
}

.footer__logotype {
  display: flex;
  justify-content: center;
  margin-bottom: 54px;
}

.footer__item {
  margin-bottom: 32px;
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer__list {
  margin-bottom: 16px;
}

.footer__info {
  margin-bottom: 32px;
}

.footer__info-title {
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: var(--dark--text-menu-color);
  margin-bottom: 16px;
}

.footer__info-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #4F4F4F;
  margin-bottom: 24px;
}

.footer__info {
  margin-bottom: 0;
}

.footer__info-wrapper {
  margin-bottom: 32px;
}

.footer__info-service-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #828282;
  margin-bottom: 16px;
}

.footer__info-service-text:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 62px;
    padding-bottom: 48px;
  }
  .footer__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-right: -90px;
    margin-left: -90px;
  }
  .footer__info-text {
    margin-bottom: 0;
    text-align: left;
  }
  .footer__info {
    text-align: center;
  }
  .footer__wrapper {
    padding-right: 90px;
    padding-left: 90px;
  }
  .footer__item {
    margin-bottom: 0;
  }
  .footer__info:last-child {
    margin-bottom: 0px;
  }
  .footer__list {
    margin-bottom: 0;
  }
  .footer__list {
    margin-bottom: 40px;
  }
  .footer__info {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding-top: 32px;
    padding-bottom: 72px;
  }
  .footer__wrapper {
    padding-right: 0px;
    padding-left: 0px;
  }
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
  }
  .footer__list {
    display: block;
    order: 4;
  }
  .footer__info-wrapper {
    display: flex;
  }
  .footer__info {
    text-align: left;
    width: 380px;
    margin-right: 30px;
  }
  .footer__info:last-child {
    margin-right: 0;
  }
  .footer__info-service {
    display: flex;
    justify-content: space-between;
  }
  .footer__list {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
  .footer__item {
    margin-bottom: 32px;
  }
  .footer__logotype {
    margin-bottom: 0;
  }
  .footer__info {
    margin-bottom: 0;
  }
  .footer__info-text {
    margin-bottom: 0;
  }
  .footer__list {
    margin-bottom: 0;
  }
  .footer__info:last-child {
    margin-bottom: 0;
  }
  .footer__info-wrapper {
    margin-bottom: 0;
  }
  .footer__info-service-text {
    margin-bottom: 0;
  }
}

@font-face {
  font-family: "Museo Sans Cyrl";
  src: local(""), url("../fonts/museosanscyrl-500-webfont.woff2") format("woff2"), url("../fonts/museosanscyrl-500-webfont.woff") format("woff");
}

@font-face {
  font-family: "Museo Sans Cyrl";
  src: local(""), url("../fonts/museo_sans_cyrl_700-webfont.woff2") format("woff2"), url("../fonts/museo_sans_cyrl_700-webfont.woff") format("woff");
}

:root {
  --dark--text-menu-color: #333333;
  --light-text-color: #ffffff;
  --main-color: #6248FF;
  --background-color: rgba(98, 72, 255, 0.1);
  --text-color: #4F4F4F;
}

.navigation__button {
  padding-left: 24px;
  padding-right: 24px;
  color: #FFFFFF;
  background-color: #6248FF;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: "Museo Sans Cyrl";
  border-radius: 60px;
  text-transform: uppercase;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  display: none;
}

.navigation__button:hover {
  background: #7181FC;
}

.navigation__button:active {
  background: #354BF4;
}

.navigation__button:focus {
  background: #354BF4;
}

.contact__form-button {
  font-family: 'Museo Sans Cyrl';
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 20px 64px;
  background: #6248FF;
  border-radius: 60px;
  border: none;
  align-self: center;
}

.contact__form-button:disabled {
  font-family: 'Museo Sans Cyrl';
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #828282;
  padding: 20px 64px;
  background: #E0E0E0;
  border-radius: 60px;
  border: none;
  margin-top: 16px;
  align-self: center;
}

.hero__button {
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: var(--main-color);
  border-radius: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  margin-top: 32px;
  width: 280px;
}

.hero__button:hover {
  background: #7181FC;
}

.hero__button:active {
  background: #354BF4;
}

.hero__button:focus {
  background: #354BF4;
}

.navigation__button-burger {
  background: #FFFFFF;
  background-image: url("../images/burger.svg");
  width: 24px;
  height: 24px;
  background-position: center;
  border: none;
  display: block;
}

@media screen and (min-width: 768px) {
  .hero__button {
    margin-top: 48px;
    width: 257px;
  }
  .contact__form-button {
    margin-top: 40px;
  }
  .navigation__button {
    display: block;
  }
  .navigation__button-burger {
    margin-left: 48px;
  }
  .hero__button {
    width: 257px;
  }
}

@media screen and (min-width: 1440px) {
  .hero__button {
    width: 257px;
    margin-top: 48px;
    align-self: start;
  }
  .contact__form-button {
    margin-top: 40px;
  }
  .navigation__button {
    display: block;
  }
  .navigation__button-burger {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */