<section class="feedback__section">
    <div class="container">
    <div class="feedback__wrapper">
     <div class="feedback_wrapper-title">
    <h2 class="second__header">People love Big Invest</h2>
    <div class="feedback__wrapper-buttons">
    <button class="swiper-prev"><span class="swiper-prev-arrow"></span></button>
    <button class="swiper-next"><span class="swiper-next-arrow"></span></button>
    </div>
    </div>
    <div class="feedback__profile-text-wrapper">
    <div class="feedback__profile-text-quote"></div>
    </div>
    <div class="swiper__container">
      <div class="swiper">
      <div class="swiper-wrapper">
      <div class="swiper-slide">
         <div class="feedback__profile">
         <div class="feedback__profile-data">
        <p class="feedback__profile-img"> 
        <div>
        <p class="feedback__profile-name">Albert Abello</p>
        <p class="feedback__profile-img-job">Director of Growth</p>
        <div class="feedback__profile-text-main">
          <div class="feedback__profile-text-quote-tablet"></div>
          </div>
        </div> 
        </div>
        <div class="feedback__profile-text-container">
         <p class="feedback__profile-text">This magical product actually works! It has radically changed the way we build our audiences. 
        Increasing new customer sales by 6x in our most mature market.</p>
        <p class="feedback__counter">01/04</p>
        </div>
        </div>

    </div>
    <div class="swiper-slide">
        <div class="feedback__profile">
        <div class="feedback__profile-data">
        <p class="feedback__profile-img"> 
        <div>
        <p class="feedback__profile-name">Albert Abello</p>
        <p class="feedback__profile-img-job">Director of Growth</p>
        <div class="feedback__profile-text-main">
         <div class="feedback__profile-text-quote-tablet"></div>
         </div>
        </div> 
        </div>
        <div class="feedback__profile-text-container">
           <p class="feedback__profile-text">This magical product actually works! It has radically changed the way we build our audiences. 
            Increasing new customer sales by 6x in our most mature market.</p>
            <p class="feedback__counter">02/04</p>
            </div>
        </div>
        </div>
         <div class="swiper-slide">
        <div class="feedback__profile">
        <div class="feedback__profile-data">
        <p class="feedback__profile-img"> 
        <div>
        <p class="feedback__profile-name">Albert Abello</p>
        <p class="feedback__profile-img-job">Director of Growth</p>
        <div class="feedback__profile-text-main">
          <div class="feedback__profile-text-quote-tablet"></div>
         </div>
        </div> 
        </div>
        <div class="feedback__profile-text-container">
         <p class="feedback__profile-text">This magical product actually works! It has radically changed the way we build our audiences. 
          Increasing new customer sales by 6x in our most mature market.</p>
          <p class="feedback__counter">03/04</p>
         </div>
        </div>
        </div>
         <div class="swiper-slide">
        <div class="feedback__profile">
        <div class="feedback__profile-data">
        <p class="feedback__profile-img"> 
        <div>
        <p class="feedback__profile-name">Albert Abello</p>
        <p class="feedback__profile-img-job">Director of Growth</p>
        <div class="feedback__profile-text-main">
          <div class="feedback__profile-text-quote-tablet"></div>
        </div>
        </div> 
        </div>
        <div class="feedback__profile-text-container">
          <p class="feedback__profile-text">This magical product actually works! It has radically changed the way we build our audiences. 
         Increasing new customer sales by 6x in our most mature market.</p>
         <p class="feedback__counter" >04/04</p>
         </div>
        </div>
        </div>
        </div>
    </div>
       </div>
       </div>
    </section>