<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <a
        class="footer__logotype"
        href="./index.html"
      >
        <p class="footer__logotype-text">Logo</p>
      </a>
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="#"
            >About us</a
          >
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#"
            >Instructions</a
          >
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#"
            >Platforms</a
          >
        </li>
        <li class="footer__item">
          <a class="nfooter__link" href="#"
            >Contact Us</a
          >
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#"
            >Sign in</a
          >
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#"
            >Sign up for free</a
          >
        </li>
      </ul>
      <div class="footer__info-wrapper">
        <div class="footer__info">
          <p class="footer__info-title">
            Information and high risk warning:
          </p>
          <p class="footer__info-text">
            Trading with foreign exchange (FX),
            contract for differences (CFDs) and
            precious metals carries a high level
            of risk that may not be suitable for
            all investors. Leverage creates
            additional risk and loss exposure.
            Before you decide to trade foreign
            exchange or contract for differences,
            carefully consider your investment
            objectives, experience level, and risk
            tolerance.
          </p>
        </div>
        <div class="footer__info">
          <p class="footer__info-title">
            Legal disclaimer:
          </p>
          <p class="footer__info-text">
            Forex trading entails significant
            risks and is not appropriate for all
            investors. The possibility of
            incurring substantial losses should be
            taken into account. It is therefore
            important to understand the possible
            consequences of investing. Traders
            should weigh their earning potential
            against the risks involved and act
            accordingly. Interactive Trade Ltd
            operating under brand and using
            domenLink domain within the European
            Economic Area.
          </p>
        </div>
      </div>
    </div>
    <div class="footer__info-service">
      <p class="footer__info-service-text">
        Copyright 2020, All Right Reserved
      </p>
      <p class="footer__info-service-text">
        Terms and Conditions
      </p>
      <p class="footer__info-service-text">
        Privacy Policy
      </p>
      <p class="footer__info-service-text">
        Risk Warnings
      </p>
      <p class="footer__info-service-text">
        Anti-Money Laundering
      </p>
    </div>
  </div>
</footer>
