<section class="planing__section">
    <div class="container">
    <h2 class="second__header">Getting Started Is Fast & Easy</h2>
    <ul class="planing__list">
      <li class="planing__list-item"><span class="planing__list-numbering">01.</span>Register<p class="planing__list-item-text">Complete the simple registration to get your trading credentials.</p></li>
      <li class="planing__list-item"><span class="planing__list-numbering">02.</span>Verification<p class="planing__list-item-text">Big Invest is required to verify your identity, upload your documents quickly and get approved in minutes.</p></li>
      <li class="planing__list-item"><span class="planing__list-numbering">03.</span>Deposit funds<p class="planing__list-item-text">Big Invest accepts credit cards and bank wires. Just use the secure deposit form and follow the steps.</p></li>
      <li class="planing__list-item"><span class="planing__list-numbering">04.</span>Start Trading<p class="planing__list-item-text">Once your deposit has been credited, you can begin trading instantly. In no time you will see profits rolling into your account.</p></li>
    </ul>
   </div>
    </section>
</section>