<section class="questions__section">
    <div class="container">
    <h2 class="second__header">Frequently asked questions</h2>
    <ul class="questions__list">
    <li>How do I change my details?<button></button></li>
    <li>How do I change my details?<button></button></li>
    <li>How do I change my details?<button></button></li>
    <li>How do I change my details?<button></button></li>
    <li>How do I change my details?<button></button></li>
    <li>How do I change my details?<button></button></li>
    </ul>
    </div>
    </section>
</section>