<section class="questions__section">
    <div class="container">
    <h2 class="second__header">Frequently asked questions</h2>
    <ul class="questions__list">
    <li class="questions__list-item">How do I change my details?<button class="questions__list-buttons"><span class="questions__list-buttons-icon"></span></li>
    <li class="questions__list-item-response">
   <div class="questions__list-item-response-title">What platforms will I be able to use?
    <button class="questions__list-item-response-button"><span class="questions__list-item-response-button-icon"></span></button></div>
    <p class="questions__list-item-response-text">We provide only the best trading software. The trading terminal MetaTrader4 is the most popular and convenient platform for access to global exchanges. You can work anywhere. All you need is the Internet because the necessary trading tools are already collected in one place and are available in a couple of clicks. 
    Use only the best and develop with us!</p></li>
     <li class="questions__list-item">How do I change my details?<button class="questions__list-buttons"><span class="questions__list-buttons-icon"></span></li>
    <li class="questions__list-item-response">
   <div class="questions__list-item-response-title">What platforms will I be able to use?
    <button class="questions__list-item-response-button"><span class="questions__list-item-response-button-icon"></span></button></div>
    <p class="questions__list-item-response-text">We provide only the best trading software. The trading terminal MetaTrader4 is the most popular and convenient platform for access to global exchanges. You can work anywhere. All you need is the Internet because the necessary trading tools are already collected in one place and are available in a couple of clicks. 
    Use only the best and develop with us!</p></li>
     <li class="questions__list-item">How do I change my details?<button class="questions__list-buttons"><span class="questions__list-buttons-icon"></span></li>
    <li class="questions__list-item-response">
   <div class="questions__list-item-response-title">What platforms will I be able to use?
    <button class="questions__list-item-response-button"><span class="questions__list-item-response-button-icon"></span></button></div>
    <p class="questions__list-item-response-text">We provide only the best trading software. The trading terminal MetaTrader4 is the most popular and convenient platform for access to global exchanges. You can work anywhere. All you need is the Internet because the necessary trading tools are already collected in one place and are available in a couple of clicks. 
    Use only the best and develop with us!</p></li>
     <li class="questions__list-item">How do I change my details?<button class="questions__list-buttons"><span class="questions__list-buttons-icon"></span></li>
    <li class="questions__list-item-response">
   <div class="questions__list-item-response-title">What platforms will I be able to use?
    <button class="questions__list-item-response-button"><span class="questions__list-item-response-button-icon"></span></button></div>
    <p class="questions__list-item-response-text">We provide only the best trading software. The trading terminal MetaTrader4 is the most popular and convenient platform for access to global exchanges. You can work anywhere. All you need is the Internet because the necessary trading tools are already collected in one place and are available in a couple of clicks. 
    Use only the best and develop with us!</p></li>
     <li class="questions__list-item">How do I change my details?<button class="questions__list-buttons"><span class="questions__list-buttons-icon"></span></li>
    <li class="questions__list-item-response">
   <div class="questions__list-item-response-title">What platforms will I be able to use?
    <button class="questions__list-item-response-button"><span class="questions__list-item-response-button-icon"></span></button></div>
    <p class="questions__list-item-response-text">We provide only the best trading software. The trading terminal MetaTrader4 is the most popular and convenient platform for access to global exchanges. You can work anywhere. All you need is the Internet because the necessary trading tools are already collected in one place and are available in a couple of clicks. 
    Use only the best and develop with us!</p></li>
     <li class="questions__list-item">How do I change my details?<button class="questions__list-buttons"><span class="questions__list-buttons-icon"></span></li>
    <li class="questions__list-item-response">
   <div class="questions__list-item-response-title">What platforms will I be able to use?
    <button class="questions__list-item-response-button"><span class="questions__list-item-response-button-icon"></span></button></div>
    <p class="questions__list-item-response-text">We provide only the best trading software. The trading terminal MetaTrader4 is the most popular and convenient platform for access to global exchanges. You can work anywhere. All you need is the Internet because the necessary trading tools are already collected in one place and are available in a couple of clicks. 
    Use only the best and develop with us!</p></li>
   </ul>
   </div>
 </section>
