.navigation__list {
    display: flex;
}
.navigation {
    display: none;
}

.navigation__link {
    font-size: 15px;
    color: #333333;
    font-weight: 500;
    font-family: "Museo Sans Cyrl";
    font-size: 15px;
    line-height: 16px;
}
 .header__container-select {
     display: none;
 }
header {
    padding-top: 20px;
    padding-bottom: 20px;
   
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navigation__wrapper {
    display: flex;
    align-items: center;

}

.navigation__item {
    margin-right: 32px;
}

.header .choices__inner {
    width: 100%;
    min-height: 25px;
    border: 1px solid #000000;
    border-radius: 60px;
    background: #FFFFFF;
    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
   color: #333333;
}
.navigation__buttons {
    display: flex;
   justify-content: space-between;
   align-items: center;
    
}

.header .choices__list--dropdown {
    width: 125%;
}
.header .choices__list {
    width: 125%;
}

.header .choices[data-type*=select-one]::after {
   right: 0;
}

.header .choices__list--dropdown {
    word-break: normal;
}

.header .choices__list--dropdown .choices__list {
    overflow: hidden;

}

.header .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: var(--main-color);
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    header {
        margin-right: 0px;
    }

    .logotype__text {
        display: none;
    }
    .navigation {
        display: none;
    }
    .header__container-select {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .header__wrapper {
        margin-right: -60px;
        }
    .logotype__text {
        display: block;
    }
    .header__container-select {
        margin-right: 44px;
    }
        .navigation {
            display: block;
        }
                .header__container-select {
                    display: block;
                }
}